﻿h1 {
	color:#e10217;
}

h2 {
	color:#4d4d4d;
}

body{
	color:#4d4d4d;
}

a {
	color:#4d4d4d;
	text-decoration:underline;
}

a:hover {
	color:#e10217;
	text-decoration:underline;
}

a.arrow:hover, a.img:hover{
	color:#e10217;
}

table tr td {
	background-color:#fff;
}
th, table th.subhead, div.subhead  {
	background-color:#eaeaea;
}
table tr.tbsubhead th, table td.tbsubhead, table tr.tbsubhead td {
	background-color:#eaeaea;
	color:#4d4d4d;
}

div.tb {
	border:0 solid;
}

/** Header**/

#pageHeadCenter {
	background-image:url(../../gfx/headerBack.png);
	background-repeat:repeat-x;
}

#pageHeadBottom_3 a{
		color:#333333;
}

#pageHeadBottom_3 a:hover{
		color:#e10217;
}

/** TopNavi **/

#pageTopNavi a{
	text-decoration:none;

}

#pageTopNavi .depth_1 a{
	color:#4d4d4d;
	text-decoration:none;
}

#pageTopNavi .depth_1 a:hover{
	color:#ffffff;
	background-color:#e10217;
}

/** End of TopNavi **/

/** subNavi**/

#pageTopNavi .depth_2 {
	background-color:#eaeaea;
}

#pageTopNavi ul.nav  {
	color:#ffffff;

}

#pageTopNavi ul.nav li.depth_2 {
	color:#ffffff;
}

#pageTopNavi ul.nav li.depth_2:hover {
	color:#ffffff;
	background-image:url(../../gfx/dhbw/subNaviBgActive.png);
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#acacac;
}

#pageTopNavi ul.nav li.depth_2  a{
	color:#4d4d4d;
	background-image:url(../../gfx/dhbw/subnaviGx.png);
	background-position:5px 8px;
}

#pageTopNavi ul.nav li.depth_2 a:hover{
	background-color:transparent!important;
	color:#ffffff;

}

#pageTopNavi ul.nav li.depth_3 {
	background-color:#333333;
	color:#fff;
}

#pageTopNavi ul.nav li.depth_3 a.depth_3{
	background-color:#333333;
	color:#fff;
}

#pageTopNavi ul.nav li.depth_3 a.depth_3:hover{
	color:#fff;

}
#pageTopNavi ul.nav li.depth_3:hover{
	background-color:#acacac;
	background-image:url(../../gfx/dhbw/subNaviBgActive.png);
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#acacac;
}

#pageTopNavi ul.nav li.depth_4 a.depth_4{
	background-color:#4d4d4d;
	color:#4d4d4d;
}

#pageTopNavi ul.nav li.depth_4 a.depth_4:hover{
	color:#fff;
}
#pageTopNavi ul.nav li.depth_4:hover{
	color:#fff;
	background-image:url(../../gfx/dhbw/subNaviBgActive.png);
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#acacac;
}

/** End of subnavi **/

#pageHeadBottom_3 {

}
/** LoginForm**/
#cn_loginForm {
	color:#4d4d4d;
}

#fieldSet_login label {
	color:#4d4d4d;
}

#logIn_btn, #logIn_btn_sso, #forgotPassword_btn {
	color:#4d4d4d;
}

#logIn_btn, #logIn_btn_sso, #forgotPassword_btn a{
	color:#4d4d4d;
	text-decoration:underline;
}


/**End of LoginForm**/

/** End of Header **/


/** Content**/

#pageContentTop
	 .loginDataName, 
	 .loginDataTime, 
	 .loginDataDate, 
	 .colon, b {
		color:#4d4d4d;
}

#pageContent {
	border:0;
	background-color:#fff;
}



/** TableColor**/

.tbhead,
.tbhead td, caption{
	color:#ffffff;
	background-color:#E10217;
	background-image:url(../../gfx/dhbw/tbHeadBg.png);
	background-repeat:repeat-x;
	background-position:bottom left;
}

.subhead{
	color:#4d4d4d;
}
.tbsubhead {
	background-color:#fff;
}

.tbdata{
	color:#4d4d4d;
}

.tbdata b{
	color:#4d4d4d;
}

.tbtime11, .tbtime01 {
	background-color:#fff;
	border-left:1px solid #b2b2b2;
	border-bottom:0;
	border-top:0;
}

.tbtime12, .tbtime02 {
	border-left:1px solid #b2b2b2;
	background-color:#dbdbdb;
	border-bottom:0;
	border-top:0;
}

th.subhead, div.tbsubhead {
	background-color:#eaeaea;
	color:#4d4d4d;
}
div.tbcontrol {
	background-color:#fff;
	color:#4d4d4d;
}

div.tbcontrol b{
	color:#4d4d4d;
}

#tbMonth th {
	background-color:#eaeaea;
	color:#4d4d4d;
}
#tbMonth th a{
	color:#4d4d4d;
}
#tbMonth a:hover, #tbMonth a i:hover {
	color:#e10217;
}
#tbMonth th a:hover {
	color:#e10217;
}

div.tbMonthDay{
	border:0;
	background-image: url(../../gfx/monthDayBackGround.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

div.tbMonthDay a{
	color:#4d4d4d;
}

div.tbMonthDay a:hover{
	color:#E10217;
}

div.tbMonthDay div.tbsubhead {
	background-color:#E10217;
	margin-bottom:5px;
	border-bottom:1px solid #fff;
}

div.tbMonthDay div.tbsubhead a {
	color:#ffffff;
}

div.tbMonthDay div.tbsubhead a:hover {
	color:#e10217;
}

.tbMonthDay a{
	color:#ffffff;
}

.tbMonthDay a:hover{
	color:#e10217;
}

tr #Montag, th{
	color:#4d4d4d;
}


.appointment {
    border: 1px solid #D2D2D2;
	background-color:#ff00ff;
}


/*--------------------- LEVELS --------------------*/

.level00,
.level00 b{
	background-color:#E10217!important;
	color:#ffffff!important;
	font-weight:bold!important;

	}

.level01 {
	background-color:#eaeaea!important;
	color:#000000!important;

	}
.level01 a{
	color:#000000!important;
	text-decoration:underline;

	}

.level02 {
	background-color:#f0f0f0!important;

	}
.level02 a{
	color:#4d4d4d!important;
	text-decoration:underline;

	}

.level03{
	background-color:#eaeaea!important;

	}
	
.level03 {

	}
.level04 {
	background-color:#e0e0e0!important;

	}

.level00_color {
	background-color:#E10217!important;

	}
.level01_color {
	background-color:#eaeaea!important;

	}
.level02_color {
	background-color:#f0f0f0!important;

	}
.level03_color {
	background-color:#eaeaea!important;

	}
.level04_color {
	background-color:#e0e0e0!important;

	}

/** End of Content**/

/** Footer **/
/** End of Footer **/