﻿body{
	margin:0;
	padding:0;
}

/*---------------- GENERAL LAYOUTELEMTS ---------------*/

.pageElementLeft,
.pageElementRight,
.pageElementTop{
	
}

.pageElementLeft{
	float:left;	
}
.pageElementRight{
	float:right;
}
.pageElementTop{
	clear:both;
}

/*-------------- PAGE LAYOUT --------------*/
#pageContainer{
	min-width:990px; 
	margin-bottom:10px;
	overflow:visible;
}

/*-------------- PAGEHEAD --------------*/
#pageHead{
	width:100%;
	overflow:hidden;

}

#pageHeadTop{
	height:28px;
	border-bottom:1px solid #a2a2a2;
	width:100%;
}

#pageHeadCenter{
	height:90px;
	border-bottom:1px solid #a2a2a2;
	overflow:hidden;
}

#pageHeadLeft{
	margin:0px;
}

#imagePageHeadLeft{
	
}

#pageHeadRight{
	width:80px;
	height:50px;

}

#pageTopNavi{
	
	}

#pageHeadBottom_1{
	border-bottom:1px solid #a2a2a2;    
	height:26px;	
}

#pageHeadBottom_2{
	border-bottom:1px solid #a2a2a2;
	height:26px;
}



#pageHeadBottom_3{ /*---------------- LOGINBOX --------------*/
	border-bottom:1px solid #a2a2a2;
	height:26px;
}

#pageHeadControlsLeft,
#pageHeadControlsRight{

}

#cn_loginForm{
	float:right;
}

#logIn_btn,
#forgotPassword_btn{}

#fieldSet_login{
	float:left;
	
}

#fieldSet_login .inputFieldLabel{
	margin-top:0;	
	padding:0px;
}

#field_user{}

#field_pass{}

#logoutButton{}	

#pageHeadSwitchLang{}


/*------------------- PAGECONTENT ------------------*/

#pageLeft{
	min-height:460px;
	width:185px;
}

#pageLeftTop{
	
}

#pageContent{
	min-height:460px;
 	border-left:1px solid #a2a2a2;
 	width:80%;
 	padding-bottom:20px;
 	padding-left:10px;
 	padding-top:12px;
}

#pageContentTop{
	padding:10px;
	padding-left:0px;
}

#contentSpacer_IE{
	padding:0px;
	margin:0px;
	margin-top:10px;
	padding-left:0px;
	width:99%;
}
.contentlayoutleft,
#contentlayoutleft{
	margin:0;
	padding:0;
	width:72%;
	float:left;
}
.contentlayoutright,
#contentlayoutright{
	margin:0;
	padding:0;
	width:186px;
	float:left;
	margin-left:7px;
}

#loginData{}

/*------------------ PAGE FOOT ---------------*/

#pageFoot{
	padding:4px;
	border-top:1px solid #a2a2a2;
	border-bottom:1px solid #a2a2a2;
	height:24px;
}

#pageFootControls{
	height:24px;
}

#pageFootControlsLeft{
	height:24px;
	float:left;
}

#pageFootControlsRight{
	height:24px;
	display:inline;
}

#IEdiv{
	position:fixed; /* FOR SOME REASON A "FIXED" ELEMENT HAS TO EXIST SO THAT IE's IS NOT HIDING THE BUTTONS */
	overflow:hidden;
	height:0;
}

/*------------------ SPECIAL CONTENT ------------------*/
#printHeader, #printFooter {
	float:left;
	display: none;
	visibility: hidden;
}
.signature_field {
	float:left;
	padding-top:50px;
	padding-right:100px;
}
/*------------------ NOT USED ----------------*/

span.devInfo,
.hiddenTag,
#xmlContainer{
	display:none;
}

#pageContentPopUp{
	padding: 0 15px 0 15px;
	display:block;
	background-image:none!important;
}


/*----------------- RANDOM FIXES ---------------*/

.key-nav-fix-hidden {
	/* hide not visible button */
	color: transparent;
	overflow: hidden;
	display: inherit;

	/* undo default styles / buttons styles */
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
	border: 0;
}

