﻿body{
	font-family:verdana, arial, helvetica, sans serif;

}
h1{
	font-size:18px;

}

h2 {
	font-size:16px;
	font-weight:normal;
}
tb {
	border:0px;
}

th, table th.subhead, div.subhead{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:8px 4px;
}

table tr.tbsubhead th, table td.tbsubhead, table tr.tbsubhead td {
	border-top:3px solid #fff;
	border-bottom:3px solid #fff;
	padding:8px 4px;
}
td{
	border-top:0;
	border-bottom:0;
	padding:8px 4px;
}
form {
	border:none;
}
th.tbdata {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}

div.tbdata{
	border:0;
}


/** Header**/
#pageHead{

}
#pageHeadTop  {
	display:none;
}

#pageHeadCenter {
	height:174px;
	border:0px;
}
/** Logo **/
#pageHeadLeft {
	margin-top:51px;
	margin-left:20px; 
}
#pageHeadSwitchLang {
	margin-right: 10px;
}
#pageHeadSwitchLang .img, .img_arrowLogout, .img_LangEnglish{
	margin-top:2px;
}
#pageHeadSwitchLang a{
	background-image: url("../../gfx/icons/arrowRight.png");
	padding-left:13px;
	font-weight:normal;
}

/** TopNavi**/

#pageTopNavi {
	width:97%;
	padding-top:15px;
	padding-left:20px;
	padding-right:20px;
	height: 26px;
	margin-top:100px;
}

#pageTopNavi .depth_1 {

}

#pageTopNavi ul.nav.depth_1 {
    padding-left: 0px;
	margin-left:0;
	height:26px;
	min-width:950px;
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	background-image:url(../../gfx/dhbw/naviBg.png);
	background-repeat:repeat-x;
	background-position:left;
}

#pageTopNavi ul.nav li.depth_1 a{
	padding-top:5px;
	padding-bottom:8px;
}

#pageHeadBottom_1 {
	display:none;
	height:1px;
}

#pageHeadBottom_2 {
	margin-top:30px;
 	margin-bottom:0px;
	margin-left:20px;
	background-image:url(../../gfx/dhbw/dhbw_subheader.gif);
	background-repeat:no-repeat;
	background-position:left top;
	background-color:#dedad9;
	height:70px;
	min-width:950px;
	width:97%;
	border:1px solid #e0e4e7;
}

#pageHeadBottom_3 {
	margin:20px 20px 0 12px;
	float:right;
	height:27px;
	border:0;
}

#pageHeadBottom_3 img {
	display:none;
}

/** End of TopNavi**/

/** LoginForm**/

#fieldSet_login {
	margin-top:4px;
}

#forgotPassword_btn {
	text-decoration:underline!important;
}

#forgotPassword_btn:hover, #logIn_btn:hover, #logIn_btn_sso:hover{
	color:#e10217;
}


/** End of LoginForm**/


/** Content **/
#contentSpacer_IE {
}

#pageContainer {

}

#pageContentTop {
	margin-top:0;
	margin-left:0px;
	margin-bottom:20px;
	width:780px;
}

#pageContent{
	float:left;
	margin-top:0px;
	min-width:780px;
}

/** Subnavi **/
#pageLeft {
	width:187px;
	float:left;

}
#pageTopNavi ul.nav li.depth_2 li.navLink {
	border:0;
}

#pageTopNavi ul.nav.depth_2{
	top:300px; /** topspace left navi **/
	margin-left:20px;

}
#pageTopNavi ul.nav li.depth_2 a{
	font-size:12px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden;
}
#pageTopNavi ul.nav li.depth_2 {
	border-top:1px solid #ffffff;
	border-bottom:1px solid #d6d9db;
}


#pageTopNavi ul.nav li.depth_1 ul.nav.depth_2{
	width:157px; /** width of left navi **/

	

}
/** End of Subnavi**/
	
/** Tables **/

.tbhead,
.tbhead td, caption{
	border:0;
	font-size:14px;
	margin-bottom:12px;
}
.tbsubhead {
	padding:8px 4px;
	border:none;
}
th.subhead, div.tbsubhead {
	border-top:1px solid #d4d4d6;
	padding:12px 4px 8px 4px;
}
table.list td, table.list td.tbdata, table.tb{
	border:none;
}

.nb th a{ 
	background-image:url("../../gfx/icons/arrowRight.png");
	background-repeat:no-repeat;
	background-position:left;
	padding-left:14px;

}

.tbcontrol .img, td.tbcontrol .img ,.img,button.arrow{
	background-image:url("../../gfx/icons/arrowRight.png");
}

div.tbcontrol {
	padding:8px 4px;
}
.tbcontrol input {
	font-weight:normal;
}
.tb750 {
	border-left:1px solid #4d4d4d;
	border-right:none;
}

.arrow_skipBtn a.img_arrowLeft {
	background-image:url(../../gfx/icons/arrowLeft.png)!important;
	text-decoration:none;
}
.arrow_skipBtn a.img_arrowRight {
	background-image:url(../../gfx/icons/arrowRight.png);
	text-decoration:none;
}


.arrow {
	background-image:url(../../gfx/icons/arrowRight.png);
	text-decoration:none;
}


button.btcontrol, button.arrow, .arrow, .img {
	padding:0 0 0 12px;
}

tr.subhead.level01 td:first-child{
	padding-left:30px;

	background-repeat:no-repeat;
}
tr.subhead.level02 td:first-child{
	padding-left:50px;

	background-repeat:no-repeat;
	background-position:20px bottom;
}
tr.subhead.level03 td:first-child{
	padding-left:70px;

	background-repeat:no-repeat;
	background-position:40px bottom;
}
tr.subhead.level04 td:first-child{
	padding-left:90px;

	background-repeat:no-repeat;
	background-position:60px bottom;
}

.tbcontrol .img,
 td.tbcontrol .img ,
.arrow,
.img_arrowRed,
.img_imgLeftRed,
.img_arrowLeftRed,
.img.img_arrowExpand,
.img.img_arrowCollapse,
.img_arrowReload,
.img_arrowEdit,
.img_arrowDelete,
.img_arrowSubmit,
.img_arrowLogout,
.img_arrowUpload,
.img_arrowDownload,
.img_arrowHelp,
.img_arrowSave,
.img_arrowClose,
.img_arrowSaveAndClose,
.img_arrowPrint,
.img_arrowCalendar,
.img.img_LangGerman,
.img.img_LangEnglish,
.img_arrowClock,
.img_arrowSaveAndClose,
.img_arrowSave,
.img_arrowUpload,
.img_arrowDownload,
.img_arrowLogout,
.img {
	background-image:url(../../gfx/icons/arrowRight.png);
}

/*BEGIN SimpleArrow Icons*/
.imgMin {
  height: 16px;
  width: 16px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: inline-block;
}
.imgMin.img_arrowSimpleTop {
  background-position: 0px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleTop:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleRight {
  background-position: -16px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleRight:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleBottom {
  background-position: -32px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleBottom:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleLeft {
  background-position: -48px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleLeft:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleTopDouble {
  background-position: -64px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleTopDouble:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleRightDouble {
  background-position: -80px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleRightDouble:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleBottomDouble {
  background-position: -96px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleBottomDouble:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
.imgMin.img_arrowSimpleLeftDouble {
  background-position: -112px 0px;
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSet.jpg");
}
.imgMin.img_arrowSimpleLeftDouble:hover {
  background-image: url("../../gfx/dhbw/icons/arrowSimpleImageSetHover.jpg");
}
/*END SimpleArrow Icons*/



/** End of Content **/

/** Footer **/
#pageFoot {
	border-top:1px solid #dddddd;
	border-bottom:0px solid;
}
#pageFootControls {
	position:relative;
	padding-right:15px;
}
#pageFootControlsLeft {
	float:left;
	text-align:left;
	padding-left:30px;
}
#pageFootControlsLeft a {
	background-image:none;
	font-size:10px;
	float:none;
	text-decoration:none;
	margin:0;
	padding-right:10px;
	padding-left:0;
}
#pageFootControl_up {
	background-image:none;
	font-size:10px;
	position:absolute;
	top:0;
	right:5px;
	text-decoration:none;
	margin:0;
	padding:0;
}
/** End of Footer **/