﻿*{
	filter:none!important;
}

#pageContentTop,
#pageHead,
#pageLeftTop,
#pageLeft,
#pageFoot,
#pageTopNavi{
	display:none!important;
}

h1.printable{
	display:block!important;
}
.screenOnly{
	display:none!important;
}
.printLarger {
	font-size: 1.5em !important;
}

#pageContainer,
#pageContentContainer,
#pageContent,
#contentSpacer_IE{
	width:100%!important;
	border:0!important;
	margin:0px!important;
	padding:0px!important;
}
	
@page {
	margin:8mm;
}

/* ------------- WEEK - TEMPLATE  ------------- */

#weekTableRoomplan *{ /*  FORCE FONT-SIZE AND SET PADDING TO ZERO OF TABLE */
	font-size:6pt!important;
	padding:0;
	margin:0;
} 
#weekTableRoomplan table{ 
	padding:0;
	margin:0;
	border-collapse: separate;
}
#weekTableRoomplan table caption{ /*  TITLE OF WEEKTABLE */
	font-size:10pt!important;
	padding:1px;
}
.tbcontrol,
.tb #weekTableRoomplan .tbcontrol{ /*  SWITCH OFF BUTTONS */
	display:none;
}
#weekTableRoomplan table.nb th.weekday a{ /*  WEEK DAY CELLS (HEADER) */
	font-size:8pt!important;	
}
#weekTableRoomplan td.appointment span,
#weekTableRoomplan td.appointment a{
	font-size:10pt!important;
	padding:2px;
	margin:2px;
}
.tb #weekTableRoomplan {
	width:28cm;  
	margin:0px; 
	padding:0px; 
	text-align:center;
}
/*---------------------------------------------------*/

.tbMonthDay{

	border-left:1px solid #808080;
	border-top:1px solid #808080;
}

.appointment{
	border:1px solid #808080;
}

td.tbtime11,
td.tbtime12{
	border-left:1px solid #808080;	
	border-top:1px solid #808080;	
}

div.tbMonthDay div.tbsubhead{
	border-bottom:1px solid #808080;
}
/*------------- study content plan (sip) ---------------------------*/

#sip h1, #sip  .nts, #sip input.img, #sip .lgndCl, #sip .tb caption, #sip #ntsDtls{
	display:none;
}
#sip .tbhead {
	padding-bottom:20px;
}
#sip .tbdata, #sip .tbsubhead {
	border:none;
}
#sip .lgndTxt, #sip .aCA, #sip .sCA {
	font-style:italic;
}
#sip table, #sip tbody, #sip tr, #sip td {
	border:none;
}
#sip #sData {
	display:block;
	border:1px solid #000;
}
#sip #sData td{
	padding:6px 4px;
}
#sip .status {
	display:block;
}
#sip #sipSign {
	display:block;
	border-top:1px solid #000;
	width:300px;
	height:50px;
}
#sip #sipSignature {
	display:block;
}
/*------------------ SPECIAL CONTENT ------------------*/
#printHeader, #printFooter {
	display: block;
	visibility: visible;
	width: 100%;
}
.signature_field {
	float:left;
	padding-top:50px;
	padding-right:100px;
}
