html{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at center, black, rgb(8, 10, 15), rgb(34, 38, 61));
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img{
  width: 10vmin;
  margin-top: 20px;
}

h1{
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

section h2{
  text-align: left;
  line-height: 50px;
  height: 50px;
  width: calc(100% - 20px);
  background-color: #1f33a879;
  margin: 0 0 20px 0;
  padding: 0px 10px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.452);
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}

section h2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #233dd379 !important;
}

section{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #292e49a2;
  width: 90%;
  max-width: 1200px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all .25s cubic-bezier(.42,0,.92,.14);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

section.fold{
  height: 54px !important;
}

section.fold h2{
    background-color: #60678b55;
}

section.test h2{
  background-color: #a81f1f79;
}

section.test h2:hover {
  background-color: #d3232379 !important;
}

section.test.fold h2{
  background-color: #8b606055;
}

input, button, select{
  border: none;
  outline: none;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 5px;
  width: calc(90% - 10px);
  max-width: 580px;
}

input{
  background-color: #e7e7e7b0;
  opacity: .9;
  margin-top: 5px;
}

input:hover, button:hover, a:hover{
  opacity: 1;
}

input:focus, button:active, a:hover{
  opacity: .8;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

label{
  color: white;
  width: 100%;
  max-width: 600px;
  font-size: 20px;
}

button, a, select{
  max-width: 600px;
  margin: 20px 0;
  background-color: #e7e7e7b0;
  cursor: pointer;
  opacity: .9;
}

a{
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}


#btn-collapse-all{
  color: white;
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 10px;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.btn-account{
  margin: 10px 0;
  line-height: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.btn-account.google{
  background-color: #DB4437;
}

.btn-account.spotify{
  background-color: #1DB954;
}

#test-result{
  font-size: 16px;
  color: white;
}