<tbody>
 <tr>
  <th class="week_number">
   KW 44
  </th>
  <td class="week_header" colspan="3">
   <nobr>
    Mo 28.10.
   </nobr>
  </td>
  <td class="week_header" colspan="3">
   <nobr>
    Di 29.10.
   </nobr>
  </td>
  <td class="week_header" colspan="3">
   <nobr>
    Mi 30.10.
   </nobr>
  </td>
  <td class="week_header" colspan="3">
   <nobr>
    Do 31.10.
   </nobr>
  </td>
  <td class="week_header" colspan="3">
   <nobr>
    Fr 01.11.
   </nobr>
  </td>
  <td class="week_header" colspan="3">
   <nobr>
    Sa 02.11.
   </nobr>
  </td>
 </tr>
 <tr>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    8:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_block" rowspan="13" style="background-color:#a3ddff" valign="top">
   <a href="#5">
    08:00 -11:15
    <br/>
    Data Warehouse
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:39, zuletzt geändert am 04.11.19 07:56
     </div>
     <div>
      Mi 30.10.19 08:00-11:15
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Data Warehouse
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        SOLL-Stunden:
       </td>
       <td class="value" valign="top">
        36
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        STG-TINF17B,RB41-4.18
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Personen:
       </td>
       <td class="value" valign="top">
        Buckenhofer, Andreas,
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="person">
    Buckenhofer, Andreas,
   </span>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
   <br/>
   <span class="resource">
    RB41-4.18
   </span>
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_block" rowspan="40" style="background-color:#DC0505" valign="top">
   <a href="#0">
    08:00 -18:00
    <br/>
    Allerheiligen
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:56, zuletzt geändert am 16.09.19 09:20
     </div>
     <div>
      Fr 01.11.19 08:00-18:00
     </div>
     <strong>
      Feiertag
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Allerheiligen
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        zuletzt geändert von:
       </td>
       <td class="value" valign="top">
        Millow, Carina
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        STG-TINF17B
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_block" rowspan="14" style="background-color:#a3ddff" valign="top">
   <a href="#3">
    08:15 -11:45
    <br/>
    Advanced Software Engineering
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:39, zuletzt geändert am 16.09.19 09:20
     </div>
     <div>
      Do 31.10.19 08:15-11:45
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Advanced Software Engineering
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        SOLL-Stunden:
       </td>
       <td class="value" valign="top">
        48
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        zuletzt geändert von:
       </td>
       <td class="value" valign="top">
        Millow, Carina
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        RB41-4.18,STG-TINF17B
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Personen:
       </td>
       <td class="value" valign="top">
        Rößler, Horst,
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="person">
    Rößler, Horst,
   </span>
   <br/>
   <span class="resource">
    RB41-4.18
   </span>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    9:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_block" rowspan="13" style="background-color:#a3ddff" valign="top">
   <a href="#1">
    09:15 -12:30
    <br/>
    IT-Sicherheit
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:39, zuletzt geändert am 16.09.19 09:20
     </div>
     <div>
      Mo 09:15-12:30 wöchentlich
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        IT-Sicherheit
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        SOLL-Stunden:
       </td>
       <td class="value" valign="top">
        48
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        zuletzt geändert von:
       </td>
       <td class="value" valign="top">
        Millow, Carina
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        RB41-4.18,STG-TINF17B
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Personen:
       </td>
       <td class="value" valign="top">
        Jost, Werner, Dr.
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="person">
    Jost, Werner, Dr.
   </span>
   <br/>
   <span class="resource">
    RB41-4.18
   </span>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    10:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    11:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    12:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    13:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_block" rowspan="21" style="background-color:#a3ddff" valign="top">
   <a href="#2">
    13:15 -18:30
    <br/>
    Wahlfächer/Zusatzfächer
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:54, zuletzt geändert am 16.09.19 09:20
     </div>
     <div>
      Mo 13:15-18:30 wöchentlich
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Wahlfächer/Zusatzfächer
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        zuletzt geändert von:
       </td>
       <td class="value" valign="top">
        Millow, Carina
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        STG-TINF17B
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_block" rowspan="13" style="background-color:#a3ddff" valign="top">
   <a href="#6">
    13:30 -16:45
    <br/>
    Recht
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 05.09.19 10:46, zuletzt geändert am 16.09.19 09:20
     </div>
     <div>
      Mi 30.10.19 13:30-16:45
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Recht
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Millow, Carina
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        STG-TINF17B,RB41-4.18
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Personen:
       </td>
       <td class="value" valign="top">
        Klink, Eva,
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="person">
    Klink, Eva,
   </span>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
   <br/>
   <span class="resource">
    RB41-4.18
   </span>
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    14:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    15:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_block" rowspan="10" style="background-color:#a3ddff" valign="top">
   <a href="#4">
    15:00 -17:30
    <br/>
    Architekturen von Rechnersystemen
    <span class="tooltip">
     <div style="font-size:7px;margin-bottom:4px;">
      erstellt am 21.08.19 08:39, zuletzt geändert am 18.10.19 08:19
     </div>
     <div>
      Di 29.10.19 15:00-17:30
     </div>
     <strong>
      Vorlesung
     </strong>
     <table cellpadding="1" class="infotable">
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Veranstaltungsname:
       </td>
       <td class="value" valign="top">
        Architekturen von Rechnersystemen
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Bemerkung:
       </td>
       <td class="value" valign="top">
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        SOLL-Stunden:
       </td>
       <td class="value" valign="top">
        36
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        reserviert von:
       </td>
       <td class="value" valign="top">
        Dölker, Andrea,
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Ressourcen:
       </td>
       <td class="value" valign="top">
        RB41-4.18,STG-TINF17B
       </td>
      </tr>
      <tr>
       <td class="label" style="white-space:nowrap" valign="top">
        Personen:
       </td>
       <td class="value" valign="top">
        Bachmaier, Martin,,Fütterling, Stefan, Dr.
       </td>
      </tr>
     </table>
    </span>
   </a>
   <br/>
   <span class="person">
    Bachmaier, Martin,
   </span>
   <br/>
   <span class="person">
    Fütterling, Stefan, Dr.
   </span>
   <br/>
   <span class="resource">
    RB41-4.18
   </span>
   <br/>
   <span class="resource">
    STG-TINF17B
   </span>
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    16:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="4">
   <nobr>
    17:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
 <tr>
  <th class="week_times" rowspan="3">
   <nobr>
    18:00
   </nobr>
  </th>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
  <td class="week_smallseparatorcell_black">
  </td>
  <td class="week_emptycell_black">
  </td>
  <td class="week_separatorcell_black">
  </td>
 </tr>
 <tr>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
  <td class="week_smallseparatorcell">
  </td>
  <td class="week_emptycell">
  </td>
  <td class="week_separatorcell">
  </td>
 </tr>
</tbody>